.background {
  background-color: rgb(148, 117, 160);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.atm-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.atm-body {
  background-color: rgb(240, 238, 228);
  width: 400px;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  position: relative;
}

.atm-sign {
  position: relative;
  background-color: rgb(50, 106, 169);
  width: 440px;
  height: 160px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.atm-sign img {
  object-fit: none;
}

.graffiti-img {
  position: absolute;
  right: 25px;
  top: 36px;
}

.gray-bar {
  background-color: rgb(182, 182, 182);
  height: 8px;
  width: 100%;
}

.buttons {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.sticker-graf-img {
  position: absolute;
  bottom: -100px;
  left: -50px;
}

.systems-img {
  position: absolute;
  bottom: -15px;
  right: -5px;
}
