.container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.left {
  justify-content: flex-end;
}

.line {
  height: 4px;
  width: 15px;
  background-color: rgb(144, 144, 144);
}

.button {
  background-color: rgb(185, 185, 185);
  height: 26px;
  width: 50px;
  border-radius: 5px;
  border-top: 2px solid rgb(217, 217, 212);
  border-bottom: 2px solid rgb(155, 155, 155);
}
