.credit-cards-container {
  width: 237px; /* Width of all combined cards */
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.credit-card-back,
.credit-card-front {
  position: absolute;
  top: 0;
  left: 0;
  height: 21px;
  background-image: url("../assets/creditcard_sprite.png");
  background-repeat: no-repeat;
}

.credit-card-back {
  width: 237px; /* Width of all combined cards */
  background-position: 0 -21px;
  z-index: 1; /* Will be behind the front card */
}

.credit-card-front {
  top: 1px;
  width: 237px; /* Width of all combined cards */
  z-index: 2; /* Will be on top of the back card */
}

.credit-card-back,
.credit-card-front {
  box-sizing: border-box;
}

.credit-card-star {
  clip-path: inset(0 199px 0 0);
}

.credit-card-pulse {
  clip-path: inset(0 157px 0 40px);
}

.credit-card-maestro {
  clip-path: inset(0 115px 0 80px);
}

.credit-card-mastercard {
  clip-path: inset(0 76px 0 124px);
}

.credit-card-plus {
  clip-path: inset(0 36px 0 159px);
}

.credit-card-visa {
  clip-path: inset(0 0 0 199px);
}
