.screen-section {
  display: flex;
  width: 100%;
}

.screen {
  position: relative;
  width: 240px;
  height: 240px;
  background-color: rgb(107, 172, 205);
  margin-top: 38px;
  border: 5px solid rgb(222, 221, 209);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message {
  color: white;
  font-family: "PressStart";
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}

.font-size-11 {
  font-size: 11px;
}

.font-size-15 {
  font-size: 15px;
}

.buttons {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.sticker-graf-img {
  position: absolute;
  bottom: -100px;
  left: -50px;
}

.systems-img {
  position: absolute;
  bottom: -15px;
  right: -5px;
}

.input-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.input-text {
  color: white;
  font-family: "PressStart";
  font-size: 14px;
}
