.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.option {
  font-family: "PressStart";
  font-size: 9px;
  color: white;
  margin-right: 5px;
  margin-left: 5px;
}

.left-option {
  position: absolute;
  left: 0px;
}

.right-option {
  position: absolute;
  right: 0px;
}

.position-1 {
  bottom: 145.5px;
}

.position-2 {
  bottom: 105.5px;
}

.position-3 {
  bottom: 65.5px;
}

.position-4 {
  bottom: 25.5px;
}

.white-line {
  height: 4px;
  width: 15px;
  background-color: white;
}
